body {
	width: 100%;
	height: 100%;
}

#introduction {
	height: 40vh;
	overflow: auto;
	background-color: lightgreen;
}

#introduction h1 {
	text-align: center;
}

#introduction h2{
	width: 80%;
	margin: auto;
}

#introduction ul{
	width: 80%;
	margin: auto;
}

#part1 {
	height: 100vh;
	overflow: auto;
	background-color: black;
}

#part2 {

	height: 100vh;
	overflow: auto;
	background-color: gray;
}

#part3 {
	height: 100vh;
	overflow: auto;
	background-color: yellow;
}


/*       ******** part 1 ********       */


/*       ******** part 2 ********       */


/*       ******** part 3 ********       */